.home {
    width: 100%;
    height: 100vh;
    background-image: url("../images/bacnground-inicio.png");
}

/*
SIDE A
*/

.left-side {
    float: left;
    width: 50%;
    height: 100vh;
}

.top_title_peq, .top_title_gran, .top_sub_title {
    text-align: left;
    position: relative;
    top: 35%;
    left: 35%;
    color:#21140c;
}

.top_title_gran {
    font-family: var(--font-highlight);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 8rem;
    text-shadow: 5px 5px 2px #ffffffa4;
}

.top_title_peq {
    font-family: var( --font-text);
    border: 2px dashed #21140c;
    padding: 10px;
    text-transform: uppercase;
    width: 65%;
}

.title_peq {
    margin-left: 5px;
    font-size: 1.5rem;
}

.top_sub_title {
    font-family: var(--font-highlight);
    font-size: 5rem;
    text-shadow: 5px 5px 2px #ffffff94;
    position: relative;
    top: 300px;

}

/*
SIDE B
*/
.right-side {
    float: right;

    width: 50%;
    height: 100vh;
}

.burger-mage {
    top: -50px;
    position: relative;
    width: 930px;
    right: 50px;
}

.home-price {
    position: relative;
    top: -32%;
    margin-left: 15%;
}
.icon-home {
    position: relative;
    top: -100px;
    left: -30px;
}

.price {
    position: relative;
    top: -250px;
    margin-left: 10px;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-family: var( --font-text);
}

.price span {
    font-size: 2.8rem
}

/*
=======    MEDIA QUERY ======
*/

@media screen and (max-width: 1024px) {

    .home {
        overflow: hidden;
    }

    /*
        SIDE A
    */

    .top_title_peq, .top_title_gran, .top_sub_title {
        left: 26%
    }
    .title_peq {
        font-size: .7rem;
    }
    .top_title_gran {
        font-size: 5rem;
    }
    .top_sub_title {
        font-size: 2.5rem;
        top: 190px;
    }

    /*
        SIDE B
    */
    .burger-mage {
        width: 630px;
        right: 50px;
    }

    .price {
        position: relative;
        top: -198px;
        margin-left: -5px;
        font-size: 1.1rem;
    }

    .price span {
        font-size: 2rem
    }

    .home-price {
        margin-left: 15%;
    }
    .icon-home {
        width: 110px;
    }

}