.contact_section {
    width: 100%;
    height: 140vh;
    background-color: var(--background-app);
}

.contact-top {
    text-align: center;
    color: #21140c;
    position: relative;
    top: 17%;
}

.contact-top p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: var(--font-text);
}


.contact-top h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--font-highlight);
}

/*
     FORM
*/

.form-img {
    width: 250px;
    position: relative;
}

.iten-1 {
    position: relative;
    left: 15%;
    top: -150px;
}


.iten-2 {
    position: relative;
    top: 210px;
    left: 150px;
}

.iten-3 {
    position: relative;
    float: right;
    width: 350px;
    right: 13%;
    top: -300px;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 20px;
    position: relative;
    margin-left: 31%;
    top: -80px;
}

.form input {
    height: 70px;
    font-size: 1.2rem;
    color: #21140c;
    text-transform: uppercase;
}

.form input::placeholder {
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
    left: 10px;
}

.btn-find {
    font-size: 1.2rem;
    color:#fff;
    border: 1px solid red;
    background-color: red;
    text-transform: uppercase;
    font-family: var(--font-highlight);
    cursor: pointer;
}

.btn-find:hover {
    background-color: whitesmoke;
    border: 1px solid red;
    color: red;
}

.btn-find:active {
    transform: translateY(5px);
}